# EDA for A&E data.

Where I will be cleaning and joining all the AE data, by the year into one CSV.

In [1]:
import pandas as pd

In [ ]:
ae_df = pd.read_csv("../data/raw/ae_2024/ae_2024_01.csv")
ae_df.head()

In [ ]:
ae_df.info()

In [ ]:
import pandas as pd
import glob
import os

# Paths
raw_dir = "../data/raw"          # this is your main raw folder
pro_dir = "../data/processed"

# Recursively find all A&E CSVs in subfolders (any year)
ae_files = glob.glob(os.path.join(raw_dir, "**", "ae_*.csv"), recursive=True)

# Print files found
print("Files found:", ae_files)

if not ae_files:
    print("No files found. Check folder structure or filenames.")
else:
    # Read and combine all CSVs
    ae_df_list = [pd.read_csv(f) for f in ae_files]
    ae_data = pd.concat(ae_df_list, ignore_index=True)

    # Check combined dataframe
    print("Combined data shape:", ae_data.shape)
    print(ae_data.head())

In [ ]:
import pandas as pd
import os
import glob

# Paths
raw_dir = "../data/raw"
pro_dir = "../data/processed"

# Recursively find all A&E CSVs
ae_files = glob.glob(os.path.join(raw_dir, "**", "ae_*.csv"), recursive=True)
print(f"Found {len(ae_files)} files:")
print(ae_files)

if not ae_files:
    print("No files found. Check folder structure or filenames.")
else:
    # Read each CSV into a dataframe
    ae_df_list = [pd.read_csv(f) for f in ae_files]
    
    # Combine all dataframes into one
    ae_data = pd.concat(ae_df_list, ignore_index=True)
    
    # Quick checks
    print("Combined data shape:", ae_data.shape)
    print("Columns:", ae_data.columns.tolist())
    print(ae_data.head())

In [ ]:
ae_data.shape

In [ ]:
print(ae_data.columns.tolist())

# Quick overview of data types and missing values
print(ae_data.info())

# See first few rows
print(ae_data.head())

In [ ]:
# Clean column names

# Function to clean column names
def clean_columns(df):
    df = df.rename(columns=lambda x: x.strip()               # remove leading/trailing spaces
                                    .lower()               # lowercase
                                    .replace(' ', '_')    # spaces to underscores
                                    .replace('-', '_')    # hyphens to underscores
                                    .replace('+', 'plus') # replace + with 'plus'
                                    .replace('.', '')     # remove dots
                    )
    return df

ae_data = clean_columns(ae_data)
print(ae_data.columns.tolist())

In [ ]:
# Drop unwanted columns 

cols_to_keep = [
    "period",
    "org_code",
    "org_name",
    "ae_attendances_type_1",
    "attendances_over_4hrs_type_1",
    "patients_12hr_wait",
    "emergency_admissions_type_1"
]

ae_data = ae_data[cols_to_keep]
print(ae_data.head())

In [31]:
import pandas as pd

# Load your cleaned dataset
df = pd.read_csv("../data/processed/ae_data_cleaned.csv")

# Show the first 5 rows
df.head()

,period,org_code,org_name,ae_attendances_type_1,attendances_over_4hrs_type_1,patients_12hr_wait,emergency_admissions_type_1
0,2020-01-01,RAL,ROYAL FREE LONDON NHS FOUNDATION TRUST,NaN,NaN,55,4533
1,2020-01-01,RBV,THE CHRISTIE NHS FOUNDATION TRUST,NaN,NaN,0,0
2,2020-01-01,Y02572,PARK COMMUNITY PRACTICE,NaN,NaN,0,0
3,2020-01-01,RQX,HOMERTON UNIVERSITY HOSPITAL NHS FOUNDATION TRUST,NaN,NaN,2,1872
4,2020-01-01,R1K,LONDON NORTH WEST UNIVERSITY HEALTHCARE NHS TRUST,NaN,NaN,1,6320

In [32]:
print("Columns found in raw A&E data:")
print(list(ae_data.columns))

Columns found in raw A&E data:
['period', 'org_code', 'parent_org', 'org_name', 'a&e_attendances_type_1', 'a&e_attendances_type_2', 'a&e_attendances_other_a&e_department', 'a&e_attendances_booked_appointments_type_1', 'a&e_attendances_booked_appointments_type_2', 'a&e_attendances_booked_appointments_other_department', 'attendances_over_4hrs_type_1', 'attendances_over_4hrs_type_2', 'attendances_over_4hrs_other_department', 'attendances_over_4hrs_booked_appointments_type_1', 'attendances_over_4hrs_booked_appointments_type_2', 'attendances_over_4hrs_booked_appointments_other_department', 'patients_who_have_waited_4_12_hs_from_dta_to_admission', 'patients_who_have_waited_12plus_hrs_from_dta_to_admission', 'emergency_admissions_via_a&e___type_1', 'emergency_admissions_via_a&e___type_2', 'emergency_admissions_via_a&e___other_a&e_department', 'other_emergency_admissions', 'number_of_a&e_attendances_type_1', 'number_of_a&e_attendances_type_2', 'number_of_a&e_attendances_other_a&e_department', 'number_of_attendances_over_4hrs_type_1', 'number_of_attendances_over_4hrs_type_2', 'number_of_attendances_over_4hrs_other_a&e_department', 'unnamed:_22', 'unnamed:_23', 'unnamed:_24', 'unnamed:_25', 'unnamed:_26', 'a']

In [34]:
import pandas as pd

# Load the cleaned A&E dataset
df = pd.read_csv("../data/processed/ae_data_cleaned.csv")

# Show the first 5 rows
df.head()

,period,org_code,org_name,ae_attendances_type_1,attendances_over_4hrs_type_1,patients_12hr_wait,emergency_admissions_type_1
0,2020-01-01,RAL,ROYAL FREE LONDON NHS FOUNDATION TRUST,21420.0,4812.0,55,4533
1,2020-01-01,RBV,THE CHRISTIE NHS FOUNDATION TRUST,0.0,0.0,0,0
2,2020-01-01,Y02572,PARK COMMUNITY PRACTICE,0.0,0.0,0,0
3,2020-01-01,RQX,HOMERTON UNIVERSITY HOSPITAL NHS FOUNDATION TRUST,11336.0,727.0,2,1872
4,2020-01-01,R1K,LONDON NORTH WEST UNIVERSITY HEALTHCARE NHS TRUST,12674.0,4512.0,1,6320

In [42]:
import pandas as pd

# Load your cleaned dataset
df = pd.read_csv("../data/processed/ae_data_cleaned.csv")

# Filter rows where org_name contains "NORTH SOMERSET"
df_col = df[['org_name']]
df_col

bridgewater_hospitals = df_col[df_col['org_name'].str.upper().str.contains("SOMERSET")]

print(bridgewater_hospitals)

                                        org_name
39     SOMERSET PARTNERSHIP NHS FOUNDATION TRUST
222    TAUNTON AND SOMERSET NHS FOUNDATION TRUST
239    TAUNTON AND SOMERSET NHS FOUNDATION TRUST
252    SOMERSET PARTNERSHIP NHS FOUNDATION TRUST
464    TAUNTON AND SOMERSET NHS FOUNDATION TRUST
...                                          ...
12988              SOMERSET NHS FOUNDATION TRUST
13078              SOMERSET NHS FOUNDATION TRUST
13307              SOMERSET NHS FOUNDATION TRUST
13544              SOMERSET NHS FOUNDATION TRUST
13665              SOMERSET NHS FOUNDATION TRUST

[70 rows x 1 columns]